@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --primary-color: #0d9488;
    --secondary-color: #2dd4bf;
    --gray-color: #efefefc8;
}

body{
    font-family: 'Alexandria', sans-serif;
    margin: 0;
}

.container{
    padding: 0 6rem;
}

.primary-text{
    color: var(--primary-color);
}

.secondary-text{
    color: var(--secondary-color);
}

ul{
    list-style: none;
    display: flex;
    gap: 1.5rem;
    padding: 0;
    justify-content: center;
}

h2:not(#hero-section h2){
    font-size: 3.3rem;
    text-align: center;
}

h3{
    margin: 0;
}

/* BUTTONS */

a{
    padding: 0.5rem 1rem;
    text-decoration: none;
    border: 1px solid black;
}

.project-btns{
    float: right;
    margin: 1rem;
    text-align: center;
}

.project-btns a:hover{
    text-decoration: underline;
}

.primary-btn{
    background-color: var(--primary-color);
    color: white;
    margin: 0.5rem;
}

.secondary-btn{
    color: var(--primary-color);
}

.more-btn{
    text-align: center;
    margin: 4rem 0;
    font-size: 1.1rem;
    font-weight: 500;
}

.more-btn a{
    transition: color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out, font-weight 0.2s ease-in-out; 
    
}

.more-btn a:hover{
    color: black;
    background-color: white;
    box-shadow: 5px 5px var(--primary-color);
    font-weight: 800;
}

.gray-bg{
    background-color: var(--gray-color);
}

/* NAVBAR */
header{
    background-color: var(--primary-color);
    position: fixed;
    width: 100%;
    z-index: 5;
}

nav{
    display: flex;
    justify-content: space-between;
}

.nav-logo{
    font-weight: 800;
    font-size: 2.5rem;
    background-color: white;
    color: var(--primary-color);
    padding: 1rem 2rem;
    border-radius: 0 1rem 1rem 0;
    border-right: 3px solid black;
    border-top: 2px solid black;
}

.nav-links{
    padding: 1rem 2rem;
}

.nav-links a{
    border: 0;
    color: white;
}

/* HERO SECTION */

#hero-section .container{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: space-between;
    padding: 0 4rem;
}

.hero-title{
    margin-left: 3rem;
}

.hero-image{
    width: 60%;
    text-align: end;
}

#hero-section img{
    width: 90%;
    padding-top: 9rem;
}

#hero-section h1{
    font-size: 2.8rem;
    margin: 0;
}

/* SKILLS SECTION */
#skills-section{
    min-height: fit-content;
    padding: 1.5rem 0 6rem;
}

#skills-section ul{
    width: 50%;
    margin: auto;
    flex-wrap: wrap;
}

#skills-section li{
    color: white;
    background-color: var(--primary-color);
    text-align: center;
    flex-basis: 10rem;
    padding: 1rem;
    border: 2px solid black;
    font-size: 17px;
    /* transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out; */
}

#skills-section li:hover{
    color: black;
    background-color: var(--gray-color);
    box-shadow: 5px 5px var(--primary-color);
}

/* PROJECTS SECTION */

#projects-section li, #blogs-section li{
    padding: 2rem;
    border: 2px solid black;
    box-shadow: 5px 5px var(--primary-color);
    flex-basis: 50%;
}

/* BLOGS SECTION */

#blogs-section {
    min-height: fit-content;
    padding: 2rem 0 4rem;
}

#blogs-section .more-btn{
    margin-top: 3rem;
    margin-bottom: 1rem;
}

/* FOOTER */
footer{
    background-color: var(--primary-color);
    padding: 2rem 2rem 1rem;
    text-align: center;
}

.white-text{
    color: white;
}

footer h3{
    font-size: 2rem;
}

footer ul{
    justify-content: center;
    padding: 1rem;
}

footer a{
    border: 0;
    font-size: 2rem;
    color: white;
}

.fa-linkedin-in:hover{
    color: #0A66C2;
}

.fa-github:hover{
    color: #333;
}

.fa-twitter:hover{
    color: #1DA1F2;
}

.copyright{
    text-align: center;
    background-color: rgb(34, 34, 34);
    color: white;
    margin: 0;
    padding: 1rem;
}

/* PROJECTS AND BLOG PAGE */
.project-page{
    padding: 5rem 0;
}

.projects{
    padding: 2rem;
    border: 2px solid black;
    box-shadow: 5px 5px var(--primary-color);
    text-align: center;
    width: 80%;
    margin: auto;
}

.projects .project-btns{
    float: unset;
    margin-top: 2rem;
}

.projects ul{
    display: block;
    list-style: disc;
    width: fit-content;
    margin: 1rem auto;
    text-align: start;
}

.projects li{
    padding: 0.5rem;
}

.projects .more-btn{
    margin: 1.5rem;
}

.projects img, .blog-inner img{
    width: 70%;
    margin-bottom: 2rem;
    border-radius: 1rem;
}

.blog-inner img{
    display: block;
    margin: 0 auto 2rem;
}

.blog-inner{
    padding: 2rem;
    border: 2px solid black;
    box-shadow: 5px 5px var(--primary-color);
    width: 80%;
    margin: auto;
}

/* Animation */

.blink{
    animation: blink 0.4s linear infinite;
}

@keyframes blink {
    0%{
       opacity: 0; 
    }

    50%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}


/* MEDIA QUERIES */
@media screen and (max-width: 1024px){
    #projects-section li, #blogs-section li{
        flex-basis: 80%;
    }
    ul:not(footer ul){
        flex-wrap: wrap;
    }   
    #skills-section ul{
        width: 100%;
    }
    #hero-section img{
        padding-top: 0rem;
    }
}

@media screen and (max-width: 768px){
    .container{
        padding: 0 4rem;
    }
    #hero-section .container{
        min-height: 100vh;
        height: unset;
    }
    .nav-logo{
        display: none;
    } 
    nav{
        justify-content: center;
    }
    #projects-section li, #blogs-section li{
        flex-basis: unset
    }
    .project-btns a{
        display: block;
    }
    #hero-section .container{
        padding: 0 2rem;
        flex-wrap: wrap-reverse;
    }
    .hero-image{
        width: 90%;
    }
    #hero-section img{
        width: 100%;
        padding-top: 5rem;
    }
    .hero-title{
        margin: 2rem;
        margin-top: -6rem;
    }
    .project-btns{
        display: flex;
        flex-direction: column;
        align-items: center;
        float: unset;
    }
    .projects img, .blog-inner img{
        width: 100%;
    }
}

@media screen and (max-width: 480px){
    .nav-links{
        padding: 1rem;
    }
    #hero-section .container{
        height: 100vh;
    }
    #hero-section h1{
        font-size: 2.6rem;
    }
    #hero-section h2{
        font-size: 1.4rem;
    }
    h2:not(#hero-section h2){
        font-size: 2.5rem;
    }
    footer h3{
        font-size: 1.5rem;
    }
    .hero-title{
        margin: 0.2rem;
        margin-top: -3rem;
    }
    .container{
        padding: 0 2rem;
    }
    .projects, .blog-inner{
        padding: 1rem;
        width: unset;
    }
}